{% extends 'base.html.j2' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-datepicker/css/bootstrap-datepicker.css' %}" />
  <style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #img-upload{
        width: 100%;
    }

    .invisible {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
       <h1>사육일지 등록하기</h1>
    </div>
    <form id="care_form" method="post" action="" class="form-horizontal" enctype="multipart/form-data" data-ajax-url="{% url 'ajax-dict-item-list' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="" />

        <div class="form-group">
            <label for="cname" class="col-sm-2 control-label">{{ form.date.label_tag }}</label>
            <div class="col-sm-10">
                {% if form.date.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.date.errors }}
                    </div>
                {% endif %}
                <div class="input-group">
                    {{ form.date }}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="cname" class="col-sm-2 control-label">{{ form.type.label_tag }}</label>
            <div class="col-sm-10">
                {% if form.type.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.type.errors }}
                    </div>
                {% endif %}
                {{ form.type }}
            </div>
        </div>

        <div class="form-group" id="id_type_detail" style="display: none;">
            <label id="id_type_detail_label" for="cname" class="col-sm-2 control-label"></label>
            <div id="id_type_detail_field" class="col-sm-10">

            </div>
        </div>

        <div class="form-group">
            <label for="cname" class="col-sm-2 control-label">{{ form.desc.label_tag }}</label>
            <div class="col-sm-10">
                {% if form.desc.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.desc.errors }}
                    </div>
                {% endif %}
                {{ form.desc }}
            </div>
        </div>

        <div class="form-group">
            <label for="cname" class="col-sm-2 control-label">{{ form.image.label_tag }}</label>
            <div class="col-sm-10">
                {% if form.image.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.image.errors }}
                    </div>
                {% endif %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            <i class="fa fa-camera-retro"></i>{{ form.image }}
                        </span>
                        <span class="btn btn-default" id="id_file_trash"><i class="fa fa-trash"></i></span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <img id='img-upload'/>
            </div>
        </div>

        <div class="form-group last">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">등록하기</button>
                <a href="{% url 'pet-list' userid=user.pk %}">
                    <button type="button" class="btn btn-default">돌아가기</button>
                </a>
            </div>
        </div>

        <div class="invisible">{{ form.pet }}</div>
    </form>
</div>
{% endblock %}

{% block script_content %}
<script src="{% static 'lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'lib/bootstrap-datepicker/locales/bootstrap-datepicker.ko.min.js' %}" charset="UTF-8"></script>

<script>
    $(document).ready( function() {
        $('#{{ form.type.id_for_label}}').change(function(){
            if ($(this).val() == '2') {
                $('#id_type_detail_label').text($('#{{ form.type.id_for_label}} option:selected').text() + ':')

                $.ajax({
                    url: $("#care_form").attr("data-ajax-url"),
                    data: {
                        'item': {{ pet.species.eating.id }}
                    },
                    success: function (data) {
                        if (data.length > 0) {
                            var _select = '<select id="id_prey_type" name="prey_type" class="form-control">';
                            _select = _select + data;
                            _select = _select + "</select>";
                            $('#id_type_detail_field').html(_select);
                        }
                    }
                });

                $('#id_type_detail').show()
            } else if ($(this).val() == '6') {
                $('#id_type_detail_label').text($('#{{ form.type.id_for_label}} option:selected').text() + ':')
                $('#id_type_detail_field').html('<input type="text" name="weight" maxlength="100" class="form-control" id="id_weight">');
                $('#id_type_detail').show()
            } else {
                $('#id_type_detail').hide()
            }
        });

        $('#{{ form.pet.id_for_label}}').val('{{ pet.id }}');

        $(document).on('change', '.btn-file :file', function() {
            var input = $(this), label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function(event, label) {
            var input = $(this).parents('.input-group').find(':text'), log = label;

            if( input.length ) {
                input.val(log);
            } else {
                if( log ) alert(log);
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                    $('#img-upload').attr('class', 'img-thumbnail');
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                $('#img-upload').attr('src', '');
                $('#img-upload').removeClass('img-thumbnail');
            }
        }

        $("#id_image").change(function(){
            readURL(this);
        });

        $("#id_file_trash").click(function() {
            $("#id_image").val('');
            $('.input-group :text').val('');
            readURL($("#id_image"));
        });

        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
            language: "ko",
            todayHighlight: "true"
        });
    });
</script>
{% endblock%}
