{% extends 'base.html.j2' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/jquery-ui/css/jquery-ui.min.css' %}" />
<style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #img-upload{
        width: 100%;
    }

    .invisible {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="clearfix">
        <h1 class="float-left">사육일지 등록하기</h1>
    </div>
    <hr>
    <form id="care_form" method="post" action="" class="form-horizontal" enctype="multipart/form-data" data-ajax-url="{% url 'ajax-dict-item-list' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="" />
        <div class="form-group">
            <label for="cname" >{{ form.date.label_tag }}</label>
            <div >
                {% if form.date.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.date.errors }}
                    </div>
                {% endif %}
                <div class="input-group">
                    {{ form.date }}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="cname" >{{ form.type.label_tag }}</label>
            <div >
                {% if form.type.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.type.errors }}
                    </div>
                {% endif %}
                {{ form.type }}
            </div>
        </div>

        <div class="form-group" id="weight_layer" style="display: none;">
            <label for="cname" >{{ form.weight.label_tag }}</label>
            <div >
                {% if form.weight.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.weight.errors }}
                    </div>
                {% endif %}
                {{ form.weight }}
            </div>
        </div>

        <div class="form-group" id="prey_layer" style="display: none;">
            <label for="cname" >{{ form.prey_type.label_tag }}</label>
            <div >
                {% if form.prey_type.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.prey_type.errors }}
                    </div>
                {% endif %}
                {{ form.prey_type }}
                {{ form.prey_size }}
                {{ form.prey_weight }}
                {{ form.prey_quantity }}
            </div>
        </div>

        <div class="form-group">
            <label for="cname" >{{ form.desc.label_tag }}</label>
            <div >
                {% if form.desc.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.desc.errors }}
                    </div>
                {% endif %}
                {{ form.desc }}
            </div>
        </div>

        <div class="form-group">
            <label for="cname" >{{ form.image.label_tag }}</label>
            <div >
                {% if form.image.errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ form.image.errors }}
                    </div>
                {% endif %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            <i class="fa fa-camera-retro"></i>{{ form.image }}
                        </span>
                        <span class="btn btn-default" id="id_file_trash"><i class="fa fa-trash"></i></span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <img id='img-upload'/>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="btn-group">
                <button id="btn_submit" type="button" class="btn btn-default">등록하기</button>
                <button id="btn_cancle" type="button" class="btn btn-default">돌아가기</button>
            </div>
        </div>

        <div class="invisible">{{ form.pet }}</div>
    </form>
</div>
{% endblock %}

{% block script_content %}
<script src="{% static 'lib/jquery-ui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'lib/jquery-ui/i18n/datepicker-ko.js' %}"></script>
<script>
    $(document).ready( function() {
        function setAjaxData(item, obj) {
            $.ajax({
                url: $("#care_form").attr("data-ajax-url"),
                data: {
                    'item': item
                },
                success: function (data) {
                    if (data.length > 0) {
                        obj.html(data);
                    }
                    obj.attr('disabled',false);
                }
            });
        }

        $('#{{ form.type.id_for_label}}').change(function(){
            initCareDetail();
            // 먹이주기
            if ($(this).val() == '2') {
                setAjaxData('{{ pet.species.eating.id}}', $('#id_prey_type'));
                $('#id_prey_type').change(function() {
                    setAjaxData($(this).val(),$('#id_prey_size'));
                });
                $('#prey_layer').show()
            }
            // 체중
            else if ($(this).val() == '6') {
                $('#weight_layer').show()
            }
        });

        var initCareDetail = function () {
            // 사육일지 상세 내역 숨기기
            $('#weight_layer').hide()
            $('#prey_layer').hide()

            // 체중초기화
            $('#id_weight').val('');
            // 먹이유형 초기화
            $('#id_prey_type').val('');
            $('#id_prey_size').val('');
            $('#id_prey_weight').val('');
            $('#id_prey_quantity').val('');

        };

        $('#{{ form.pet.id_for_label}}').val('{{ pet.id }}');

        $(document).on('change', '.btn-file :file', function() {
            var input = $(this), label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function(event, label) {
            var input = $(this).parents('.input-group').find(':text'), log = label;

            if( input.length ) {
                input.val(log);
            } else {
                if( log ) alert(log);
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                    $('#img-upload').attr('class', 'img-thumbnail');
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                $('#img-upload').attr('src', '');
                $('#img-upload').removeClass('img-thumbnail');
            }
        }

        $("#id_image").change(function(){
            readURL(this);
        });

        $("#id_file_trash").click(function() {
            $("#id_image").val('');
            $('.input-group :text').val('');
            readURL($("#id_image"));
        });

        $("#id_date").datepicker({
            dateFormat: "yy-mm-dd",
        });
        $("#id_date").datepicker($.datepicker.regional[ "ko" ]);

        $('#btn_submit').click( function() {
            $( function() {
                $('#dialog-body').text('입력하신 내용으로 사육일지를 등록하시겠습니까?');
                $( "#dialog-message" ).dialog({
                    modal: true,
                    title: "사육일지 등록확인",
                    buttons: {
                        '확인': function() {
                            $( '#care_form' ).submit();
                        },
                        '취소': function() {
                            $( this ).dialog( "close" );
                        }
                    },
                });
            });
        });

        $('#btn_cancle').click( function() {
            window.location = '{% url 'pet-detail' userid=pet.owner.pk pk=pet.pk %}';
        });


        $('#{{ form.type.id_for_label}}').change()
    });
</script>
{% endblock%}
