{% extends 'base.html.j2' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/magnific-popup/css/magnific-popup.css' %}" />
{% endblock %}

{% block content %}
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <div class="pull-right">
            <div class="form-inline">
                <a href="{% url 'pet-add' userid=user.pk %}" style="margin-left:10px;">
                    <button type="button" class="btn btn-default">등록하기</button>
                </a>
            </div>
        </div>
    <h1>개체 목록</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="d-none d-sm-table-cell">#</th>
                    <th scope="col">종이름</th>
                    <th scope="col" class="d-none d-sm-table-cell">성별</th>
                    <th scope="col">펫이름</th>
                    <th scope="col" class="d-none d-sm-table-cell">펫사진</th>
                </tr>
            </thead>
            <tbody>
                {% for pet in pet_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'pet-detail' userid=pet.owner.pk pk=pet.pk %}">{{ pet.species.common_name_kor}}</a></td>
                        <td>{{ pet.gender.item_name }}</td>
                        <td>{{ pet.name}}</td>
                        <td>
                            {% if pet.image %}
                                <a class="image-popup-no-margins" href="{{ pet.image.url }}"><img src="{{ pet.image.url }}" width="75" height="75"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12" style="text-align:center;">
        {% if is_paginated %}
            <nav aria-label="Page navigation" class="centered">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li><a class="page-item" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block script_content %}
    <script src="{% static 'lib/magnific-popup/jquery.magnific-popup.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });
        });
    </script>
{% endblock%}
