{% extends 'base.html.j2' %}
{% load static %}
{% load taggit_templatetags2_tags %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/magnific-popup/css/magnific-popup.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="clearfix">
        <h1 class="float-left">개체 상세보기</h1>
        <div class="float-right">
            <div class="btn-group" role="group">
                {% if user.is_authenticated and user == pet.owner %}
                    <button id="update_btn" type="button" class="btn btn-default">정보수정</button>
                    <button id="delete_btn" type="button" class="btn btn-default">삭제</button>
                {% endif %}
                <button id="list_btn" type="button" class="btn btn-default">목록으로</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-xs-6 col-sm-4">
            {% if pet.image %}
            <img src="{{ pet.image.url }}" class="img-fluid img-thumbnail">
            {% endif %}
        </div>
        <div class="col-xs-6 col-sm-8">
            <h4 class="title">{{ pet.name }}</h4>
            <hr />
            <h5>동물분류 종 :  {{ pet.species.common_name_kor }} </h5>
            <h5>성별 : {{ pet.gender.item_name }} </h5>
            <h5>부화일자 : {{ pet.bod | default_if_none:"" }} </h5>
            <h5>등록일시 : {{ pet.created_date }} </h5>
            <hr />
            {% if pet.desc %}
                <pre class="well pt-2 pl-2 pr-2 pb-2">{{ pet.desc }}</pre>
            {% endif %}
            <!--
            {% get_tags_for_object pet as "tags" %}
            <h5>
                {% for tag in tags %}
                    {{ tag }}
                {% endfor %}
            </h5>
            -->
        </div>
    </div>
    <ul class="nav nav-tabs mt-5" role="tablist">
        <li role="presentation" class="nav-item"><a class="nav-link active" href="#carelog" data-toggle="tab" >사육일지</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link" href="#graph" data-toggle="tab" >체중그래프</a></li>
    </ul>
    <div class="tab-content mt-3">
        <div id="carelog" class="tab-pane active">
            <div class="container">
                <div class="row" >
                    <div class="col-sm-4" >
                        <select name="care_type" id="id_care_type" class="form-control">
                            <option value="">---------</option>
                            {% for care_type in care_type_list %}
                                <option value="{{care_type.pk}}" {% if care_type.pk|slugify == request.GET.care_type %} selected {% endif %}>{{ care_type.item_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4" >
                        &nbsp;
                    </div>
                    <div class="col-sm-4" >
                        <div class="float-right">
                            <div class="btn-group" role="group">
                                {% if user.is_authenticated and user == pet.owner %}
                                    <button id="care_insert_btn" type="button" class="btn btn-default">일지등록</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive mt-5">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="d-none d-sm-table-cell">#</th>
                            <th scope="col">등록일자</th>
                            <th scope="col">일지유형</th>
                            <th scope="col" class="d-none d-sm-table-cell">추가내용</th>
                            <th scope="col" class="d-none d-sm-table-cell">사진</th>
                            {% if user.is_authenticated and user == pet.owner %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for care in care_list %}
                        <tr>
                            <th class="d-none d-sm-table-cell" scope="row">{{ forloop.counter }}</th>
                            <td>{{ care.date}}</td>
                            <td>
                                {{ care.type.item_name }}
                                {% if care.type.item_name == '체중' %}
                                    - {{ care.weight }} 그램
                                {% elif care.type.item_name == '먹이주기' %}
                                    - {{ care.feeding.prey_type.item_name}} {{ care.feeding.prey_size.item_name }}
                                    {% if care.feeding.prey_weight > 0 %}
                                    , {{ care.feeding.prey_weight}}g
                                    {% endif %}
                                    {% if care.feeding.prey_quantity > 0 %}
                                    , {{ care.feeding.prey_quantity }}개
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="d-none d-sm-table-cell">{{ care.desc}}</td>
                            <td class="d-none d-sm-table-cell">
                                {% if care.image %}
                                    <a class="image-popup-no-margins" href="{{ care.image.url }}">
                                        <a class="image-popup-no-margins" href="{{ care.image.url }}"><img src="{{ care.image.url }}" width="50" height="50"></a>
                                    </a>
                                {% endif %}
                            </td>
                            {% if user.is_authenticated and user == pet.owner %}
                                <td> <button name="care_delete" class="btn btn-danger btn-xs" owner="{{ pet.owner.pk }}" pet="{{ pet.pk }}" care="{{ care.pk }}"><i class="fa fa-trash"></i></button> </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if care_list.paginator.num_pages > 0 %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if care_list.has_previous %}
                        <li class="page-item"> <a class="page-link" href="?page={{ care_list.previous_page_number }}">&laquo;</a> </li>
                        {% else %}
                        <li class="page-item disabled"> <span class="page-link">&laquo;</span> </li>
                        {% endif %}
                        {% for i in care_list.paginator.page_range %}
                            {% if care_list.number == i %}
                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if care_list.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ care_list.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="page-item disabled"> <span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div id="graph" class="tab-pane">
            <div class="row">
                <canvas id="line"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script_content %}
    <script src="{% static 'lib/magnific-popup/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'lib/chart/Chart.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });
            var ctx = document.getElementById('line');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: [{% for weight in weight_list %} '{{ weight.date }}', {% endfor %}],
                    datasets: [{
                        label: '{{ pet.name }}',
                        data: [{% for weight in weight_list %} {{ weight.weight }}, {% endfor %}]
                    }]
                },
                options: {}
            });

            $('#id_care_type').change(function () {
                var parameter = '';
                var care_type = $('#id_care_type').val();
                if (care_type !== '') {
                    if (parameter == '') {
                        parameter += '?';
                    } else {
                        parameter += '&';
                    }
                    parameter += 'care_type=' + care_type
                }
                var url = '{% url 'pet-detail' userid=pet.owner.pk pk=pet.pk %}' + parameter;
                window.location.href = url;
            });

            $('#update_btn').click(function(){
                window.location = "{% url 'pet-update' userid=pet.owner.pk pk=pet.pk%}";
            });

            $('#delete_btn').click(function(){
                $('#dialog-body').text('{{ pet.name }} 개체를 삭제하시겠습니까?');
                $( "#dialog-message" ).dialog({
                    modal: true,
                    title: "개체 삭제확인",
                    buttons: {
                        '확인': function() {
                            window.location = "{% url 'pet-delete' userid=pet.owner.pk pk=pet.pk %}";
                        },
                        '취소': function() {
                            $( this ).dialog( "close" );
                        }
                    },
                });
            });

            $('button[name="care_delete"]').click(function(){
                _owner = $(this).attr("owner");
                _pet = $(this).attr("pet");
                _care = $(this).attr("care");

                $('#dialog-body').text('{{ pet.name }} 개체의 선택하신 사육일지를 삭제하시겠습니까?');
                $( "#dialog-message" ).dialog({
                    modal: true,
                    title: "사육일지 삭제확인",
                    buttons: {
                        '확인': function() {
                            window.location = "{% url 'care-delete' userid=12345 petid=34567 careid=56789 %}".replace(/12345/, _owner).replace(/34567/, _pet).replace(/56789/, _care);
                        },
                        '취소': function() {
                            $( this ).dialog( "close" );
                        }
                    },
                });
            });

            $('#list_btn').click(function(){
                window.location = "{% url 'pet-list' userid=pet.owner.pk %}";
            });

            $('#care_insert_btn').click(function(){
                window.location = "{% url 'care-add' userid=pet.owner.pk petid=pet.pk %}";
            });
        });
    </script>
{% endblock%}
