{% extends 'base.html.j2' %}
{% load static %}

{% block stylesheet %}
  <style type="text/css">
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
    #img-upload{
        width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="clearfix">
        <h1 class="float-left">개체 등록하기</h1>
    </div>
    <hr>
    <form id="pet_form" method="post" action="" enctype="multipart/form-data" data-species-autocomplete_url="{% url 'ajax-search-species' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="" />
        <div class="form-group">
            <label for="cname">{{ form.species.label_tag }}</label>
            <div>
                {% if form.species.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.species.errors }}
                </div>
                {% endif %}
                <div class="input-group">
                    <input type="text" class="form-control" id="species_autocomplete">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search" id="icon_search"></span>
                    </div>
                </div>
                {{ form.species }}
                <br />
                {{ form.species.help_text }}
            </div>
        </div>

        <div class="form-group">
            <label for="cname">{{ form.name.label_tag }}</label>
            <div>
                {% if form.name.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.name.errors }}
                </div>
                {% endif %}
                {{ form.name }}
                <br />
                {{ form.name.help_text }}
            </div>
        </div>

        <div class="form-group">
            <label for="cname">{{ form.gender.label_tag }}</label>
            <div >
                {% if form.gender.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.gender.errors }}
                </div>
                {% endif %}
                {{ form.gender }}
                <br />
                {{ form.gender.help_text }}
            </div>
        </div>

        <div class="form-group">
            <label for="cname" >{{ form.bod.label_tag }}</label>
            <div >
                {% if form.bod.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.bod.errors }}
                </div>
                {% endif %}
                <div class="input-group">
                    {{ form.bod }}
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <br />
                {{ form.bod.help_text }}
            </div>
        </div>

        <div class="form-group">
            <label for="cname" >{{ form.desc.label_tag }}</label>
            <div >
                {% if form.desc.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.desc.errors }}
                </div>
                {% endif %}
                {{ form.desc }}
                <br />
                {{ form.desc.help_text }}
            </div>
        </div>

        <div class="form-group">
            <label for="cname" >{{ form.image.label_tag }}</label>
            <div >
                {% if form.image.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ form.image.errors }}
                </div>
                {% endif %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file"><i class="fa fa-camera-retro"></i>{{ form.image }}</span>
                        <span class="btn btn-default" id="id_file_trash"><i class="fa fa-trash"></i></span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <img id='img-upload'/>
                <br />
                {{ form.image.help_text }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="btn-group">
                <button id="btn_submit" type="button" class="btn btn-default">등록하기</button>
                <button id="btn_cancle" type="button" class="btn btn-default">돌아가기</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block script_content %}
<script src="{% static 'lib/jquery-ui/js/jquery-ui.js' %}"></script>
<script src="{% static 'lib/jquery-ui/i18n/datepicker-ko.js' %}"></script>
<script>
    $(document).ready( function() {
        {% if pet != None %}
            $('#species_autocomplete').val($('#id_species option:selected').text());
        {% endif %}

        //정보수정일 경우 처리
        $(document).on('change', '.btn-file :file', function() {
            var input = $(this), label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function(event, label) {
            var input = $(this).parents('.input-group').find(':text'), log = label;

            if( input.length ) {
                input.val(log);
            } else {
                if( log ) alert(log);
            }
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                    $('#img-upload').attr('class', 'img-thumbnail');
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                $('#img-upload').attr('src', '');
                $('#img-upload').removeClass('img-thumbnail');
            }
        }

        $("#id_image").change(function(){
            readURL(this);
        });

        $("#id_file_trash").click(function() {
            $("#id_image").val('');
            $('.input-group :text').val('');
            readURL($("#id_image"));
        });

        $("#id_bod").datepicker({
            dateFormat: "yy-mm-dd",
        });
        $("#id_bod").datepicker($.datepicker.regional[ "ko" ]);

        $("#species_autocomplete").autocomplete({
            source: $("#pet_form").attr("data-species-autocomplete_url"),
            minLength: 2,
            open: function(){
                setTimeout(function () {
                    $('.ui-autocomplete').css('z-index', 99);
                }, 0);
            },
            select: function(event, ui) {
                $("#id_species").val(ui.item.id);
            },
            change: function(event, ui) {
                if ($("#id_species option:selected").text() !== $(this).val()) {
                    for (var i = 0; i <= $("#id_species option").length; i++) {
                        if ($(this).val() === $("#id_species option:eq(" + i + ")").text())
                        $("#id_species").val(i);
                    }
                }
            }
        });

        $('#btn_submit').click( function() {
            $( function() {
                $('#dialog-body').text('입력하신 내용으로 개체를 등록하시겠습니까?');
                $( "#dialog-message" ).dialog({
                    modal: true,
                    title: "개체등록 확인",
                    buttons: {
                        '확인': function() {
                            $( '#pet_form' ).submit();
                        },
                        '취소': function() {
                            $( this ).dialog( "close" );
                        }
                    },
                });
            });
        });

        $('#btn_cancle').click( function() {
            history.go(-1);
        });
    });
</script>
{% endblock%}
