{% extends 'base.html.j2' %}
{% load static %}
{% load taggit_templatetags2_tags %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/magnific-popup/css/magnific-popup.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <div class="pull-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                {% if user.is_authenticated and user == pet.owner %}
                    <a href="{% url 'pet-update' userid=pet.owner.pk pk=pet.pk%}">
                        <button type="button" class="btn btn-default">정보수정</button>
                    </a>
                    <a href="{% url 'pet-delete' userid=pet.owner.pk pk=pet.pk %}">
                        <button type="button" class="btn btn-danger">삭제</button>
                    </a>
                {% endif %}
                <a href="{% url 'pet-list' userid=pet.owner.pk %}">
                    <button type="button" class="btn btn-default">목록으로</button>
                </a>
            </div>
        </div>
        <h1>개체 상세보기</h1>
    </div>
    <div class="col-xs-6 col-sm-4">
        {% if pet.image %}
        <img src="{{ pet.image.url }}" class="img-responsive">
        {% endif %}
    </div>
    <div class="col-xs-6 col-sm-8">
        <h4 class="title">{{ pet.name }}</h4>
        <hr />
        <h5>동물분류 종 :  {{ pet.species.common_name_kor }} </h5>
        <h5>성별 : {{ pet.gender.item_name }} </h5>
        <h5>출생년월일 : {{ pet.bod }} </h5>
        <hr />
        <pre class="well">{{ pet.desc }}</pre>
        {% get_tags_for_object pet as "tags" %}
        <h5>
            {% for tag in tags %}
                {{ tag }}
            {% endfor %}
        </h5>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#carelog" data-toggle="tab" >사육일지</a></li>
        <li role="presentation" ><a href="#graph" data-toggle="tab" >Graph</a></li>
    </ul>
    <div class="page-header">
        <div class="pull-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                {% if user.is_authenticated and user == pet.owner %}
                    <a href="{% url 'care-add' userid=pet.owner.pk petid=pet.pk %}">
                        <button type="button" class="btn btn-success">일지등록</button>
                    </a>
                {% endif %}
            </div>
        </div>
        <h3>사육일지</h3>
    </div>
    <div class="tab-content">
        <div id="carelog" class="tab-pane active">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="d-none d-sm-table-cell">#</th>
                            <th scope="col">등록일자</th>
                            <th scope="col" class="d-none d-sm-table-cell">일지유형</th>
                            <th scope="col">추가내용</th>
                            <th scope="col" class="d-none d-sm-table-cell">사진</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for care in care_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ care.date}}</td>
                            <td>
                                {{ care.type.item_name }}
                                {% if care.type.item_name == '체중' %}
                                    - {{ care.weight }} 그램
                                {% elif care.type.item_name == '먹이주기' %}
                                    - {{ care.feeding.prey_type.item_name}} {{ care.feeding.prey_size.item_name }}
                                    {% if care.feeding.prey_weight > 0 %}
                                    , {{ care.feeding.prey_weight}}g
                                    {% endif %}
                                    {% if care.feeding.prey_quantity > 0 %}
                                    , {{ care.feeding.prey_quantity }}개
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ care.desc}}</td>
                            <td>
                                {% if care.image %}
                                    <a class="image-popup-no-margins" href="{{ care.image.url }}">
                                        <a class="image-popup-no-margins" href="{{ care.image.url }}"><img src="{{ care.image.url }}" width="50" height="50"></a>
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'care-delete' userid=pet.owner.pk petid=pet.pk careid=care.pk %}">
                                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="graph" class="tab-pane">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 detailed">
                    <h5>
                        <i class="fa fa-angle-right"></i> 체중 변화 그래프
                    </h5>
                    <canvas id="line"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script_content %}
    <script src="{% static 'lib/magnific-popup/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'lib/chart/Chart.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.image-popup-no-margins').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                image: {
                    verticalFit: true
                },
                zoom: {
                    enabled: true,
                    duration: 300 // don't foget to change the duration also in CSS
                }
            });
            var ctx = document.getElementById('line');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: [{% for weight in weight_list %} '{{ weight.date }}', {% endfor %}],
                    datasets: [{
                        label: '{{ pet.name }}',
                        data: [{% for weight in weight_list %} {{ weight.weight }}, {% endfor %}]
                    }]
                },
                options: {}
            });
        });
    </script>
{% endblock%}
