{% extends 'base.html.j2' %}
{% load static %}

{% block content %}
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <div class="pull-right">
            <div class="btn-group" role="group" aria-label="Basic example">
                {% if account == user %}
                    <a href="{% url 'account-update' pk=account.pk %}">
                        <button type="button" class="btn btn-default">정보수정</button>
                    </a>
                {% endif %}
                <a href="{% url 'index' %}">
                    <button type="button" class="btn btn-default">돌아가기</button>
                </a>
            </div>
        </div>
        <h1>사용자 정보</h1>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {% if account.image %}
            <img src="{{ account.image.url }}" class="img-circle" width="150" height="150">
            {% else %}
            <img src="{% static "img/anonymous_user.png" %}" class="img-circle" width="150" height="150">
            {% endif %}
         </div>
        <div class="col-sm-10">
            <h5> {{ account.name}} ( {{ account.email }} ) </h5>
            <br/>
            <pre class="well">{{ account.bio | default_if_none:"" }}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <li data-id="{{ account.pk }}" data-type="account" data-action="like" title="Like">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span data-count="like">{{ account.likes.likes.count }}</span>
            </li>
            <li data-id="{{ account.pk }}" data-type="account" data-action="dislike" title="Dislike">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <span data-count="dislike">{{ account.likes.dislikes.count }}</span>
            </li>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="d-none d-sm-table-cell">#</th>
                    <th scope="col">종이름</th>
                    <th scope="col" class="d-none d-sm-table-cell">성별</th>
                    <th scope="col">펫이름</th>
                    <th scope="col" class="d-none d-sm-table-cell">펫사진</th>
                </tr>
            </thead>
            <tbody>
                {% for pet in pet_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'pet-detail' userid=pet.owner.pk pk=pet.pk %}">{{ pet.species.common_name_kor}}</a></td>
                        <td>{{ pet.gender.item_name }}</td>
                        <td>{{ pet.name}}</td>
                        <td>
                            {% if pet.image %}
                                <a class="image-popup-no-margins" href="{{ pet.image.url }}"><img src="{{ pet.image.url }}" width="75" height="75"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-12" style="text-align:center;">
        {% if pet_list.paginator.num_pages > 0 %}
            <nav aria-label="Page navigation" class="centered">
                <ul class="pagination justify-content-center">
                    {% if pet_list.has_previous %}
                        <li><a class="page-item" href="?page={{ pet_list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in pet_list.paginator.page_range %}
                        {% if pet_list.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if pet_list.has_next %}
                        <li><a href="?page={{ pet_list.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block script_content %}
<script>
    function like()
    {
        var like = $(this);
        var type = like.data('type');
        var pk = like.data('id');
        var action = like.data('action');
        var dislike = like.next();

        $.ajax({
            url : "/" + action + "/" + type + "/" + pk,
            //type : 'POST',
            data : { 'obj' : pk },

            success : function (json) {
                like.find("[data-count='like']").text(json.like_count);
                dislike.find("[data-count='dislike']").text(json.dislike_count);
            }
        });

        return false;
    }

    function dislike()
    {
        var dislike = $(this);
        var type = dislike.data('type');
        var pk = dislike.data('id');
        var action = dislike.data('action');
        var like = dislike.prev();

        $.ajax({
            url : "/" + action + "/" + type + "/" + pk,
            //type : 'POST',
            data : { 'obj' : pk },

            success : function (json) {
                dislike.find("[data-count='dislike']").text(json.dislike_count);
                like.find("[data-count='like']").text(json.like_count);
            }
        });

        return false;
    }

    // Connecting Handlers
    $(function() {
        $('[data-action="like"]').click(like);
        $('[data-action="dislike"]').click(dislike);
    });
</script>
{% endblock %}
