{% extends 'base.html.j2' %}

{% block stylesheet %}
  <style type="text/css">
    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin .checkbox {
      font-weight: normal;
    }
    .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .div-signin {
      margin-top:10px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <form class="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <h2 class="form-signin-heading">로그인</h2>
      {% if form.errors %}
          <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {% for key,value in form.errors.items %}
                  {{ value|escape }}
              {% endfor %}
          </div>
      {% endif %}
      <label for="inputUsername" class="sr-only">Email</label>
      <input type="email" name="username" class="form-control" placeholder="Email" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
      <br />
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="current-password" required id="id_password">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me" id="id_save_check"> ID 기억하기
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
      <input type="hidden" name="next" value="{{ next }}">
      <hr>
      <div class="div-signin">
        비밀번호를 잊어버리셨나요?
        <a data-toggle="modal" href="#password_reset_modal"> 비밀번호 찾기 </a>
      </div>
      <div class="div-signin">
        아직 Reptopia 회원이 아니세요 ?
        <a class="" href="{% url 'signup' %}">
          회원가입하기
        </a>
      </div>
      <div class="div-signin">
        그냥 둘러보시겠습니까 ?
        <a class="" href="{% url 'index' %}">
          홈으로 돌아가기
        </a>
      </div>
    </form>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="password_reset_modal" role="dialog" tabindex="-1" id="password_reset_modal" class="modal fade">
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">비밀번호를 잊어버리셨나요 ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>회원 가입 시 사용한 E-mail 주소를 입력하세요. 새로운 비밀번호를 보내드립니다.</p>
                        <input type="text" name="email" id="id_email" placeholder="E-mail" autocomplete="off" class="form-control placeholder-no-fix">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">메일보내기</button>
                        <button data-dismiss="modal" class="btn btn-warning" type="button">돌아가기</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- modal -->
  </div>
{% endblock %}

{% block script_content %}
  <script>
    $(document).ready(function() {
      // 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
      var key = getCookie("key");
      $("#id_username").val(key);

      if($("#id_username").val() != ""){ // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
        $("#id_save_check").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
      }

      $("#id_save_check").change(function(){ // 체크박스에 변화가 있다면,
        if($("#id_save_check").is(":checked")){ // ID 저장하기 체크했을 때,
          setCookie("key", $("#id_username").val(), 7); // 7일 동안 쿠키 보관
        } else { // ID 저장하기 체크 해제 시,
          deleteCookie("key");
        }
      });

      // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
      $("#id_username").keyup(function(){ // ID 입력 칸에 ID를 입력할 때,
        if($("#id_save_check").is(":checked")){ // ID 저장하기를 체크한 상태라면,
          setCookie("key", $("#id_username").val(), 7); // 7일 동안 쿠키 보관
        }
      });
    });

    function setCookie(cookieName, value, exdays){
      var exdate = new Date();
      exdate.setDate(exdate.getDate() + exdays);
      var cookieValue = escape(value) + ((exdays==null) ? "" : "; expires=" + exdate.toGMTString());
      document.cookie = cookieName + "=" + cookieValue;
    }

    function deleteCookie(cookieName){
      var expireDate = new Date();
      expireDate.setDate(expireDate.getDate() - 1);
      document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    }

    function getCookie(cookieName) {
      cookieName = cookieName + '=';
      var cookieData = document.cookie;
      var start = cookieData.indexOf(cookieName);
      var cookieValue = '';
      if(start != -1){
        start += cookieName.length;
        var end = cookieData.indexOf(';', start);
        if(end == -1)end = cookieData.length;
        cookieValue = cookieData.substring(start, end);
      }
      return unescape(cookieValue);
    }
  </script>
{% endblock %}
