{% extends 'base.html.j2' %}
{% block content %}

<div class="container">
    <div class="page-header">
        <h1>비밀번호 재설정</h1>
    </div>
    <hr>
    <div class="row">
        <p>입력하신 Email 주소로 가입하신 계정이 있는 경우 암호를 재설정하는 지침을 발송하였습니다.</p>
        <p>Email 을 확인하시여 조속히 비밀번호를 재설정하시기 바랍니다.</p>
        <br />
        <p>Email이 수신되지 않은경우, 올바른 Email 주소를 입력하였는지 확인하여 주세요.</p>
        <p>또는 스팸처리 되지 않았는지 확인해주세요.</p>
        <a href="{% url 'index' %}"><button type="button" class="btn btn-default">돌아가기</button></a>
    </div>
</div>

{% endblock %}
