{% extends 'base.html.j2' %}

{% block done_content %}

<div class="container">
  <div class="page-header">
    <h1>비밀번호 재설정이 완료되었습니다.</h1>
  </div>
  <br>
  <div class="col-lg-offset-2 col-lg-10">
      <a href="{% url 'login' %}">
        <button type="submit" class="btn btn-primary">회원가입</button>
      </a>
      <a href="{% url 'index' %}">
        <button type="button" class="btn btn-warning">돌아가기</button>
      </a>
  </div>
</div>
{% endblock %}
