{% autoescape off %}
{{ user.get_username }} 님, 안녕하세요.

Reptopia 회원가입을 진심으로 감사드립니다.

아래 링크를 클릭하여 회원가입 인증절차를 완료하세요.

회원가입 링크 : http://{{ domain }}{% url 'user_activate' uidb64=uid token=token %}

Reptopia 를 이용해 주셔서 진심으로 감사드립니다.

Reptopia 드림.
{% endautoescape %}
