{% extends 'base.html.j2' %}

{% block content %}
<div class="container">
<!-- start container -->
    <div class="page-header">
        <h1>태그전체보기</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2><i class="fa fa-angle-right"></i> 개체목록</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="d-none d-sm-table-cell">#</th>
                            <th scope="col" class="d-none d-sm-table-cell">이름</th>
                            <th scope="col" class="d-none d-sm-table-cell">사육자</th>
                            <th scope="col" class="d-none d-sm-table-cell">종</th>
                            <th scope="col" class="d-none d-sm-table-cell">출생년월일</th>
                            <th scope="col" class="d-none d-sm-table-cell">성별</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in taggeditem_list %}
                            {% if item.content_object.get_model_name  == 'Pet' %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><a href="{{ item.content_object.get_absolute_url }}">{{ item.content_object.name}}</a></td>
                                <td>{{ item.content_object.owner.name }}</td>
                                <td>{{ item.content_object.species.common_name_kor }}</td>
                                <td>{{ item.content_object.bod }}</td>
                                <td>{{ item.content_object.gender.item_name }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
