{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
        <title>REPTOPIA</title>
        <!-- 부트스트랩 -->
        <style>
            a {
                text-decoration:none !important;
            }
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'lib/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <!-- fontawesome -->
        <link href="{% static 'lib/fontawesome/css/all.min.css' %} " rel="stylesheet">
        <!-- nav static bar -->
        <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        {% block stylesheet %}
        {% endblock %}
    </head>
<body>
      <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{%url 'index' %}"><span class="text-danger">REPT</span>OPIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pet-list' userid=user.pk %}">개체관리</a>
                    </li>
                {% endif %}
                <!--
                <li><a href="{% url 'board-list' bbs_type=200 %}" class="nav_linker">공지사항</a></li>
                -->
                <!--
                <li><a href="{% url 'photo-list' %}">갤러리</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                -->
            </ul>
            <!--
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account-detail' pk=user.pk %}"><i class="fa fa-user"></i> {{ user.name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Begin page content -->
    <main role="main" class="container">
    {% block content %}
    {% endblock %}
    </main>

    <div id="dialog-message">
        <p id="dialog-body"></p>
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">
                &copy; Reptopia developed by digituno. Since 2020. Contact by &middot; <i class="fa fa-envelope"></i> <!--<i class="fab fa-blogger"></i> -->
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram-square" id="instagram"></i>.
            </span>
        </div>
    </footer>

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

    {% block script_content %}
        <script>
            $(document).ready(function() {
                $('#instagram').click(function(){
                    window.location = 'http://www.instagram.com/reptopia.kr';
                });

            });
        </script>
    {% endblock %}
  </body>
</html>
