{% extends 'base.html.j2' %}
{% block content %}
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>REPTOPIA 방문을 환영합니다.</h1>
    </div>
    <p class="lead">REPTOPIA 는 블라블라...</p>
  </div>
{% endblock %}
