{% extends 'base.html.j2' %}
{% load static %}
{% block content %}
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>REPTOPIA에 오신것을 환영합니다.</h1>
    </div>
    <img src="{% static "img/bg.jpg" %}" class="col-xs-12 col-sm-12 col-lg-12">
  </div>
{% endblock %}
