
{% load comments %}
{% get_comment_form for object as form %}
{% if user.is_authenticated %}
<form method="POST" action="/comments/post/"> {% csrf_token %}
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="alert alert-danger" data-comment-element="errors" hidden> </div>
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="/comments/sent/"/>
            <input type="hidden" name="name" value="{{user.name}}" id="id_name">
            <input type="hidden" name="reply_to" value="0" id="id_reply_to">
            <input type="hidden" name="honeypot" id="id_honeypot">
            <label for="cname" >{{ user.name }}</label>
            <div class="input-group mb-3">
                <textarea name="comment" placeholder="댓글을 입력해주세요." rows="1" class="form-control" maxlength="1000" required id="id_comment"></textarea>
                <div class="input-group-append">
                    <input type="submit" name="post" value="등록하기" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
