{% extends 'base.html.j2' %}
{% load static %}

{% block content %}
<!-- Begin page content -->
<div class="container">
     <div class="clearfix">
        <h1 class="float-left">{{ bbs_type.item_name }}</h1>
        {% if bbs_type.item_name == '공지사항' and user.is_staff %}
            <div class="float-right">
                <div class="btn-group">
                    <button id="insert_btn" type="button" class="btn btn-default">등록하기</button>
                </div>
            </div>
        {% elif bbs_type.item_name != '공지사항' and user.is_authenticated %}
            <div class="float-right">
                <div class="btn-group">
                    <button id="insert_btn" type="button" class="btn btn-default">등록하기</button>
                </div>
            </div>
        {% endif %}
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="d-none d-sm-table-cell">#</th>
                    <th scope="col">제목</th>
                    <th scope="col" class="d-none d-sm-table-cell">등록일자</th>
                    <th scope="col "class="d-none d-sm-table-cell">작성자</th>
                </tr>
            </thead>
            <tbody>
            {% for post in post_list %}
                <tr>
                    <th scope="row" class="d-none d-sm-table-cell">{{ forloop.counter }}</th>
                    <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                    <td class="d-none d-sm-table-cell">{{ post.pub_date}}</a></td>
                    <td class="d-none d-sm-table-cell">{{ post.author.name}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if post_list.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if post_list.has_previous %}
                <li class="page-item"> <a class="page-link" href="?page={{ post_list.previous_page_number }}">&laquo;</a> </li>
                {% else %}
                <li class="page-item disabled"> <span class="page-link">&laquo;</span> </li>
                {% endif %}
                {% for i in post_list.paginator.page_range %}
                    {% if post_list.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if post_list.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ post_list.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"> <span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}

{% block script_content %}
<script>
    $(document).ready(function() {
        $('#insert_btn').click(function(){
            window.location = "{% url 'board-add' bbs_type=bbs_type.item_name_en %}";
        })
    });
</script>
{% endblock %}
