{% extends 'base.html.j2' %}
{% load static %}

{% block content %}
  <!-- Begin page content -->
<div class="container">
   <div class="clearfix">
       <h1 class="float-left">{{ bbs_type.item_name }} 등록하기</h1>
   </div>
   <small class="text-muted">{{ bbs_help_text }}</small>
    <hr>
    <form method="post" action="" class="form-horizontal" enctype="multipart/form-data" id="form_post"> {% csrf_token %}
        {{ form.media }} 
        <input type="hidden" name="next" value="" />
        {% for field in form %}
            <div class="form-group">
                <label for="cname">{{ field.label_tag }}</label>
                <div>
                    {% if field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field }}
                    {{ field.help_text }}
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center">
            <div class="btn-group">
                <button type="submit" class="btn btn-default">등록하기</button>
                <a href="{% url 'board-list' bbs_type=bbs_type.item_name_en %}">
                    <button type="button" class="btn btn-default">돌아가기</button>
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
